$primaria-normal: #06121e;
$primaria-dark: #040f1a;
$primaria-ligth: #2f3336;

$branco-normal: #fff;
$branco-dark: #edeaef;
$branco-ligth: #fefbff;

$vermelho-normal: #d94149;
$vermelho-dark: #b42b2b;
$vermelho-ligth: #d34040;