* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/* Importações */

@import "partials/colors";
@import "partials/sidebar";
@import "partials/home";
@import 'partials/login';

body {
  font-family: "Sora", sans-serif;
  background-color: $primaria-dark;
  color: $branco-normal;
}

main {
  margin-left: 250px;
  margin-right: 6px;
  overflow: hidden;
}

@media screen and (max-width: 919px) {
  main {
    margin-left: 79px;
  }
}

@media screen and (max-width: 480px) {
  main {
    margin-left: 10px;
  }
}

.border {
  border: 1px solid red;
}

a {
  text-decoration: none;
}
