@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/* Importações */
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  border-right: 1.1px solid #2f3336;
  transition: all 0.35s;
}
.sidebar button {
  height: 60px;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  text-align: left;
  padding: 0;
}
.sidebar button i {
  position: relative;
  font-size: 30px;
  transition: 0.2s;
}
.sidebar button span {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 16px 0 12px;
  border-radius: 24px;
  line-height: 1;
  transition: all 0.2s;
  font-size: 18px;
}

.sidebar > nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar button:hover > span {
  background-color: rgba(255, 255, 255, 0.08);
}

.sidebar-header {
  width: 100%;
  margin-bottom: 16px;
}

.logo-img {
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s;
  margin-left: 10px;
}

.logo-img:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 920px) {
  .sidebar {
    width: 72px;
  }
  .sidebar button > span {
    width: 50px;
  }
  .sidebar button > span > span {
    visibility: hidden;
    opacity: 0;
  }
  main {
    margin-left: 78px;
    transition: margin 0.4s;
  }
}
/* Mobile */
.button-mobile {
  display: none;
  align-items: flex-start;
  align-items: center;
  margin: 16px;
  background: transparent;
  color: #fff;
  border: 0;
}

.menu-mobile {
  display: none;
}

.menu-mobile-active {
  width: 100vw;
  height: 100vh;
  background-color: #040f1a;
  z-index: 99;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.menu-mobile-active button {
  background-color: transparent;
  border: 0;
  color: inherit;
  margin-bottom: 16px;
}
.menu-mobile-active button span {
  display: inline-flex;
  align-items: center;
}

.mobile-text {
  font-size: 22px;
  margin-left: 8px;
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
  .button-mobile {
    display: flex;
  }
  main {
    margin-left: 10px;
  }
}
.home-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  gap: 20px;
  width: 100%;
  max-width: 1800px;
}

.buttons-home {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.buttons-home button {
  padding: 3px 14px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  transition: transform 0.2s;
}

.buttons-home button:hover {
  transform: scale(1.1);
  border: none;
  box-shadow: -1px 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.button-editar {
  background-color: #58DB00;
}
.button-editar a {
  color: #040f1a;
  font-weight: 600;
}

.button-abrir {
  background-color: #edeaef;
}
.button-abrir a {
  color: #040f1a;
  font-weight: 600;
}

.button-excluir {
  background-color: #d94149;
}
.button-excluir a {
  color: #edeaef;
  font-weight: 600;
}

@media screen and (max-width: 920px) {
  .buttons-home {
    flex-direction: column;
  }
}
.login-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-display::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #061213), url("/assets/bg01.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.login-container {
  width: 480px;
  height: 580px;
  padding: 20px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  border-radius: 8px;
  background-color: #2f3336;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
form nav {
  margin-top: 13px;
}
form nav p {
  text-align: center;
}
form nav p a {
  text-decoration: none;
  color: #fff;
}

.login-container h2 {
  text-align: left;
  color: #fff;
  max-width: 100px;
  font-size: 35px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #b42b2b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 600ms;
}
.form-group input {
  width: 100%;
  padding: 8px;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.input-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid #fff;
  opacity: 1;
}

.form-group button:hover {
  background-color: #d94149;
  animation: translateY 0.8s infinite alternate;
}

.form-group button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 480px) {
  .login-container {
    font-size: 16px;
    margin: 10px;
  }
}
@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-1px) scale(1.01);
  }
}
body {
  font-family: "Sora", sans-serif;
  background-color: #040f1a;
  color: #fff;
}

main {
  margin-left: 250px;
  margin-right: 6px;
  overflow: hidden;
}

@media screen and (max-width: 919px) {
  main {
    margin-left: 79px;
  }
}
@media screen and (max-width: 480px) {
  main {
    margin-left: 10px;
  }
}
.border {
  border: 1px solid red;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */