* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/* Importações */

@import "partials/colors";
@import 'partials/sidebar';

body {
  font-family: "Sora", sans-serif;
  background-color: $primaria-dark;
  color: $branco-normal;
}

main {
  margin-left: 250px;
  margin-right: 6px;
  overflow: hidden;
}

.border {
  border: 1px solid red;
}

