<aside class="sidebar">

    <header class="sidebar-header">
        <img class="logo-img" src="/assets/eu eu eu.jpg" alt="Imagem de usuario">
    </header>

    <nav>
        <button>
            <span>
                <i class="material-symbols-outlined">home</i>
                <span>Home</span>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined"> add</i>
                <span>Cadastrar produto</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined"> whatshot</i>
                <span>Dashboard</span>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined"> person</i>
                <span>Usuarios</span>
            </span>
        </button>


    </nav>

</aside>

<button class="button-mobile ">
    <i class="material-symbols-outlined ">
        menu
    </i>
    <span>

    </span>
</button>


<nav class="menu-mobile">
    <button class="button-close">
        <span>
            <i class="material-symbols-outlined"> close</i>
        </span>
    </button>

    <button>
        <span>
            <i class="material-symbols-outlined ">home</i>
            <span class="mobile-text">Home</span>
        </span>
    </button>
    <button>
        <span>
            <i class="material-symbols-outlined"> tag</i>
            <span class="mobile-text">Explorar</span>
        </span>
    </button>

    <button>
        <span>
            <i class="material-symbols-outlined"> email</i>
            <span class="mobile-text">Mensagens</span>
        </span>
    </button>
    <button>
        <span>
            <i class="material-symbols-outlined"> person</i>
            <span class="mobile-text">Perfil</span>
        </span>
    </button>

</nav>